@model GeneticAIApp.Models.CoursesViewModel

@{
    ViewData["Title"] = "Редакция";
}

<h1>Редакция</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GradeId" />
            <input type="hidden" asp-for="SubjectId" />
            <input type="hidden" asp-for="Teacherid" />
            <div class="form-group">
                <label class="control-label">Часове за седмица</label>
                <input asp-for="ForWeekId" class="form-control" />
                <span asp-validation-for="ForWeekId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запиши" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно в списъка</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
