@{
    ViewData["Title"] = "Начална страница";
    
}

<div class="text-center">
    <form asp-action="Index">

            <div class="form-group">
                <input type="submit" value="Старт на генерирането" class="btn btn-primary" />
            </div>
    </form>
</div>
